<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
    <title>Quanto está o dolar hoje?</title>
    
</head>
<body>

    <article>
        <div id="conteinerGeral">
            <div id="imagedolar">
                <img src="/Images/dolar.png" alt="Foto de um Dolar" id="DolarImage">
            </div>
            <div id="valores">          
                <h2>$1,00</h2><span id="valetanto">Hoje vale</span>
                <h2 id="inputReais"> </h2>
            </div>
        </div>
    </article>
    
    <script src="index.js"></script>
</body>
</html>